<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>ChatBob</title>
</head>
<body>
    <div class="icon-bar">
        <a class="active" href="index.html"><i class="fa fa-home"></i></a>
        <a href="chatbot.html"><i class="fa fa-search"></i></a>
        <a href="iaartgenerator.html"><i class="fa fa-globe"></i></a>
        <a href="contact.html"><i class="fa fa-envelope"></i></a>
        <a href="logout.html"><i class="fa fa-trash"></i></a>
    </div>
    <div id="mainConteudo">
        <div>
            <h1> ChatBot Bob </h1>
        </div>
    </div>
</body>
<footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</footer>
</html>