<!-- Puxa o padrão da pagina que é o arquivo main.html. -->
{% extends 'main.html' %}

<!-- Inicia um bloco para a incerção de conteudos. -->
{% block content %}

<div class="row mt-5 ">
    <div class="col-12">
        <article>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos nemo optio officia quos molestiae quo hic deserunt repellendus vel harum! Dolorum aspernatur, ipsam nostrum blanditiis molestias necessitatibus debitis, voluptatum animi sit sint a ratione earum deserunt in non? Minus rem temporibus delectus doloremque voluptatem, quibusdam illo rerum iure, nisi unde nostrum ipsa natus perferendis? Provident quas, error tenetur magni libero rerum, rem repudiandae debitis itaque adipisci nesciunt architecto ea corporis. Dignissimos, eveniet a rerum asperiores fugiat laudantium maiores excepturi magnam ut quasi perferendis, accusamus incidunt, quam dolorum laborum magni laboriosam libero vitae explicabo? Commodi doloremque perferendis ad ipsam aperiam laudantium.
        </article>
    </div>
    <hr class="mt-5">
    <div class="col-5 mt-5">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg p-5">
            <img src="../static/img/conversando.png" alt="">
        </div>
    </div>
    <div class="col-7 mt-5 px-5">
        <div class="px-5 mb-5">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias id inventore officia velit quidem. Recusandae quis mollitia quaerat dolore ea laboriosam, repellat veniam! Animi, dignissimos harum veritatis eligendi similique provident.Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nemo aut blanditiis commodi, iusto ipsum aliquam qui facilis deleniti ad at ea illo dolorum in vel quas eum? Optio, repudiandae?
        </div>
        <div class="px-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nemo aut blanditiis commodi, iusto ipsum aliquam qui facilis deleniti ad at ea illo dolorum in vel quas eum? Optio, repudiandae?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nemo aut blanditiis commodi, iusto ipsum aliquam qui facilis deleniti ad at ea illo dolorum in vel quas eum? Optio, repudiandae?
        </div>
    </div>
    <hr class="mt-5">
</div>
<div >
    <i >*Ultilize a barra de navegação para navegar nas paginas!</i>
</div>

{% endblock%}