<!-- Puxa o padrão da pagina que é o arquivo main.html. -->
{% extends 'main.html' %}

<!-- Inicia um bloco para a incerção de conteudos. -->
{% block content %}
        

    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-auto ">
            <!-- Cria um link para a pagina de login. -->
            <a class="btn btn-primary " href="/telaLogin/">Faça Login</a>
            <!-- Cria um link para a pagina de cadastro. -->
            <br>
            <a class="btn btn-info " href="/create/">Cadastre-se</a>
        </div>
    </div>
{% endblock%}