<!-- Puxa o padrão da pagina que é o arquivo main.html. -->
{% extends 'main.html' %}

<!-- Inicia um bloco para a incerção de conteudos. -->
{% block content %}
<div class="row justify-content-center align-items-center vh-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5 col-xxl-5">
        <!-- Cria um campo para o formulario de login -->
        <form class="border border-dark border-2 rounded-4 py-5 px-3 loginBox" method="post" action="/dologin/">
            <!-- Bloco que irá conter instruções em python -->
            {% if msg %}
                
            <!-- Alerta que indica que as senhas não são iguais -->
            <div class="alert {{class}}">
                <!-- Mensagen salva na variavel dicionatio 'data.msg' em views.def.store -->
                {{msg}}
            </div>
        
        <!-- Fim do bloco de instruções python -->
        {% endif %}

            <!-- Esta parte ira conter inputs para a coleta de informações do usuário para que seja realizada a validação de credenciais do usuário para que o Login do usuário seja liberado para entrar no sistema -->
            <div class="row">
                <div class="col-12">
                    <label for="usuario form-label" class="col-12"> Usuário:
                        <!-- Input para coleta de credenciais para login -->
                        <input class="form-control mt-1 " type="text" name="user" id="user">
                    </label>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <label for="senha form-label" class="col-12"> Senha:
                        <!-- Input para coleta de credenciais para login -->
                        <input class="form-control mt-1" type="password" name="password" id="password">
                    </label>
                </div>
            </div>
            <div class="row mt-2 justify-content-center">
                <div class="col-auto">
                    <a href="#">Esqueci minha senha</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <button class="btn btn-dark mt-3 w-100" type="submit" value="entrar">Entrar</button>
                </div>
                <div class="col-12 col-md-6">
                    <button class="btn btn-dark mt-3 w-100" type="button" value="cadastrar"> <a href="/create/">Cadastre-se</a></button>
                </div>
            </div>                
                <!-- Função que cria um numero de Token aleatorio. -->
                {% csrf_token %}            
        </form>
    </div>
</div>    
{% endblock %}
